{% block title %}Acces refusé{% endblock %}

{% block body %}
    <div class="container">
        <h1>Acces refusé</h1>
        <p>Vous n'avez pas la permission de vous connecter</p>
    </div>
{% endblock %}
