{% extends 'base.html.twig' %}

{% block title %}Edit Comment{% endblock %}

{% block body %}
    <h1 class="d-flex justify-content-center mt-5">Modifier un commentaire</h1>

    {{ include('comment_admin/_form.html.twig', {'button_label': 'Update'}) }}

    <div class="container">
    <div class="row justify-content-center">
    <div class="col-md-6">
    <a href="{{ path('app_comment_admin_index') }}" class="btn btn-dark">Retour</a>
    </div>
    </div>
    </div>

    {{ include('comment_admin/_delete_form.html.twig') }}
{% endblock %}
