{% extends 'base.html.twig' %}

{% block title %}New Comment{% endblock %}

{% block body %}
    <h1 class="d-flex justify-content-center mt-5">Créer un nouveau commentaire</h1>

    {{ include('comment_admin/_form.html.twig') }}

    <div class="container">
    <div class="row justify-content-center">
    <div class="col-md-6">
    <a href="{{ path('app_comment_admin_index') }}" class="btn btn-dark">Retour</a>
    </div>
    </div>
    </div>
{% endblock %}
